.scroll-area-container {
	position: relative;
}

.scroll-container {
	overflow: auto;
	position: relative;

	textarea {
		height: auto;
		width: 12rem;
		white-space: pre;
		overflow-wrap: normal;
		word-wrap: normal;
	}

	input[type="color"] {
		width: 5rem;
	}

	table {
		border-collapse: separate;
		border-spacing: 0 0;
		align-items: center;

		.header-wrap-every-word {
			word-wrap: break-word;
			white-space: break-spaces;
		}

		.sticky-column {
			position: sticky;
			z-index: 1;
			left: 0;
			top: 0;
			/*noinspection CssUnresolvedCustomProperty*/
			background: var(--background-primary); /* Your desired background color */
		}

		.tag-preview-div {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
		}

		.tag-preview {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.border-right {
			/*noinspection CssUnresolvedCustomProperty*/
			border-right: 1px solid var(--background-modifier-border);
		}

		.border-right-dotted {
			/*noinspection CssUnresolvedCustomProperty*/
			border-right: 2px dashed var(--background-secondary);
		}

		tr {
			border-spacing: 0 1em;
		}

		td {
			padding-left: .5rem;
			padding-right: .5rem;
			padding-top: .25rem;
			/*noinspection CssUnresolvedCustomProperty*/
			border-bottom: 1px solid var(--background-modifier-border);

			input.slider:disabled{
				color: rgb(84, 84, 84) !important;
			}
		}

		td:has(.navigator-parent) {
			padding: 0;
		}

		.navigator-parent {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			grid-column-gap: 0;
			grid-row-gap: 0;
			justify-items: start;
		}

		/*noinspection CssUnresolvedCustomProperty*/

		.navigator-trash {
			grid-area: 1 / 1 / 3 / 2;
			color: var(--color-red) /* Obsidian red color */
		}

		.navigator-chevron-up {
			grid-area: 1 / 2 / 2 / 3;
		}

		.navigator-chevron-down {
			grid-area: 2 / 2 / 3 / 3;
		}
	}
}

/*noinspection CssUnresolvedCustomProperty*/
.overlay-gradient {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	will-change: opacity;
	width: 50px; /* Adjust as needed */
	pointer-events: none;
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
}

.extension-selector {
	.grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 5%;
		width: 100%;
	}

	.grid-item {
		border: none;
		padding: .75em;
	}
}
