/* Text area for Multi Tags */
.cwt-settings-tab .setting-item:has(textarea)>.setting-item-info {
    display: none;
}
.cwt-settings-tab textarea {
	width: 100%;
}

/* Luminance offset things */
.cwt-settings-tab div:nth-child(25) > div.setting-item-control > input[type=text]{
	width: 30%;
}
.cwt-settings-tab input[type=text]:nth-child(5){
	width: 15%;
}