.scroll-container {
	overflow-x: auto;
	position: relative;

	textarea {
		width: 20rem;
		height: auto;
	}

	input[type="color"] {
		width: 5rem;
	}

	.tag-preview{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	table {
		border-collapse: separate;
		border-spacing: 0 .25rem;
	}

	tr {
		border-spacing: 0 1em;
		border-bottom: 2px solid transparent;
	}

	td {
		padding-left: .25rem;
		padding-right: .25rem;
		/*noinspection CssUnresolvedCustomProperty*/
		border-bottom: 1px solid var(--background-modifier-border);
	}
}

.overlay-gradient {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	will-change: opacity;
	width: 50px;  /* Adjust as needed */
	pointer-events: none;
	background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
}
